/*1-头部*/
#hd{
    width:1349px;
    height:35px;
    background-color:#f9f9f9 ;
}
.hd_wrap{
    width:1200px;
    height:35px;
    margin:0 auto;
    position:relative;

}
.hd_wrap::after{
    content:"";
    display:block;
    clear:both;
}
#nickname a{
    color:red;
}
#nickname{
    width:176px;
    height:24px;
}
.hd_welcome{
    width:176px;
    line-height: 24px;
    padding:5px 0 0 0;
    font-size: 12px;
    color:#646464;
}
/*hi部分开始*/
.hi{
    width:180px;
    padding-top:7px;

}
.hi,.hi b{
    color:red;
    font-size: 10px;

}
.hi .out{
    color:#646464;
}

/*hi部分结束*/
/*1-2右边的导航栏*/
.hd_wrap ul{
    position:absolute;
    right:0;
    top:7px;
    overflow: hidden;

}
.hd_wrap ul li{
    float:left;
}
.hd_wrap ul li a{
    width:60px;
    height:21px;
    padding:0 7px 0 8px;
    border-left:1px solid gray;
    color:#646464;
    font-size:12px;
}
.hd_wrap ul li>.none{
    border-left:none;
}
.myBookShop{
    width:82px;
    position:relative;
}
.myBookShop img{
    position:absolute;
    top:7px;
    right:6px;
}
.myService{
    width:74px;
    position:relative;
}
.myService img{
    position:absolute;
    top:7px;
    right:0;
}
.hd_wrap ul li :hover{
    color:red;
}
/*二级导航开始*/
.logo_wrap{
    width:1200px;
    padding-top:35px;
    border-top:1px solid #ebebeb;
    margin:0 auto;
}
.logo{
    height:48px;
    width:1200px;
}
.logo img{
    float:left;
}
.search{
    width:558px;
    height:45px;
    margin-left:141px ;
    background: url("../img/main/bg.png") no-repeat;
    float:left;
}
.searchText{
    color:#687280;
    background: #fff;
    width:480px;
    height:36px;
    margin:3px 10px 5px 10px;
    border:0;
    padding: 0;
    outline: 0;
    float:left;
}
.searchBtn{
    width:50px;
    height:41px;
    display:inline-block;
    float:left;
    cursor: pointer;
}
.logo ul{
    float:right;
    overflow: hidden;
    padding-top:15px;
}
.logo ul li{
    float:left;
    margin-right:10px;
}
.logo >ul >li>a{
    color:#687280;
}
.myOrder,.myCenter{
    color:#687280;
}
.logo ul li i{
    font-size: 20px;
    color:#7fa3c8;
    margin-right:3px;
}
.logo ul li i:hover{
    color:#366dc6;
}
.logo ul li b{
    color:red;
}
/*三级导航*/
.nav_wrap{
    width:1200px;
    margin:0 auto;
    padding-top: 25px;
}
.nav{
    width:1200px;
    height:62px;
    background: url("../img/main/nav-bg.png") no-repeat;
}
/*首页分类+轮播图的动画效果开始*/
/*hover之后的a*/
.index_class_wrap dd:hover>a{
    border: 2px solid #687280;
    border-right: none;
    border-left-width: 1px;
    padding: 0 0 0 71px;
    width: 120px;
    background-color: #fff;
}
.index_class_wrap dd:hover{
    background-color: white;
    background-position: 168px 33px;
}


dd:hover .hover_layer{
    display:block;
}



dl .last a{
    border-bottom-width:1px;
    height:32px;
}


/*首页分类+轮播图的动画效果结束*/

/*首页分类+轮播图*/
.index_class_wrap{
    width:1200px;
    height:430px;
    margin:0 auto;
    padding-top:10px;
    position:relative;
}
.index_class_wrap dl{
    width:190px;
    height:418px;
    border:1px solid black;
    color:#4e535b;
    font-weight:700;
    line-height: 33px;
    float:left;
}
.index_class_wrap dl dt{
    background: #f0f3f5;
    height:33px;
    padding-left:36px;
    font-size:14px;
}
.index_class_wrap dl dd{
    background: url("../img/main/arrow.png") no-repeat 168px 14px;

}

/*.index_class_wrap dd{
    height:35px;
}*/


.index_class_wrap .odd{
    background-color: #f0f3f5;
}
dl >dd> a{
    position:relative;
    z-index:10;
    display: block;
    padding: 2px 2px 2px 72px;
    height: 31px;
    line-height: 31px;
    color: #4e535b;
    font-weight: 700;
    font-size: 14px;
}
.index_class_wrap .wy{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -5px;
}
.index_class_wrap .jg{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -33px;
}
.index_class_wrap .sk{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -71px;
}
.index_class_wrap .sh{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -106px;
}
.index_class_wrap .jy{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -137px;
}
.index_class_wrap .kj{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -173px;
}
.index_class_wrap .ts{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -208px;
}
.index_class_wrap .jks{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -242px;
}
.index_class_wrap .qkzz{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -278px;
}
.index_class_wrap .wwnp{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -316px;
}
.index_class_wrap .wwnn{
    background: url("../img/main/dl-bg.png") no-repeat
    0 -349px;
}






/*轮播图开始*/

.wrapper{
    width: 998px;
    height: 420px;
    overflow: hidden;
    position: relative;
    float:right;
}
.wrapper>ul{
    position:absolute;
    width:7000px;
}
.wrapper>ul>li{
    float:left;
}
ol{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 190px;
}
ol li{
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    cursor: default;
    background-color: #abc;
}
ol li.current{
    background-color: #1e4a93;
}
/*轮播图结束*/
/*限时抢购开始*/
.time_wrap{
    width:1200px;
    margin:0 auto;
    padding-top: 10px;
    height:468px;
}
.time_buy{
    width:880px;
    height:458px;
    float:left;
}
.time_buy>p{
    color:black;
    font-weight: 700;
    font-size:18px;
    display:block;
    border-bottom:2px solid #ebebeb;
}
.time_wrap ul{
    width:900px;
    height:404px;
    padding-top:10px;
}
.time_wrap ul li{
    float:left;
    width:300px;
    height:192px;
    padding-bottom:10px;
}
.bookCover{
    padding:10px;
    position:relative;
    width:114px;
    height:162px;
    display:inline-block;
    float:left;
}

.cover_img{
    box-shadow: 5px 5px 15px gray ;
    width:114px;
    height:162px;
}
.xsq{
    position:absolute;
    top:10px;
    right:10px;
    width:52px;
    height:52px;
}
.bookInfo{
    width:143px;
    height:162px;
    padding:10px 0 10px 0;
    float:left;
}
.bookInfo .title{
    width:143px;
    height:36px;
    display:inline-block;
}
.title a{
    color:black;
}
.author{
    width:143px;
    height:28px;
    padding-top:6px;
    color:#666666;
    font-size:12px;
}
.stars{
    width:50px;
    height:14px;
    padding:7px 0 10px 0;
}
.stars .has{
    float:left;
    width:10px;
    height:10px;
    background: url("../img/main/starlevel.png") no-repeat -10px;
}
.price{
    width:143px;
    height:18px;
    padding:5px 0 5px 0;
    font-size:12px;
}

.bookInfo .price .now{
    font-weight:700;
    color:#ed3e01;
    text-decoration: none;
}
.price .now i{
    font-style: normal;
}
.price span{
    color:#999;
    padding:0 4px;
    text-decoration: line-through;
}
.des{
    width:143px;
    height:36px;
    padding-top:6px;
    line-height:18px;
    overflow: hidden;
    font-size:12px;
    color:#666;
}
.index_right{
    float:right;
    width:288px;

}
.index_nav{
    width:290px;
    height:24px;
    border-bottom: 2px solid #ebebeb;
    font-weight: 700;
    font-size:18px;
    position:relative;
}
.bar{
    width:100px;
    height:2px;
    position:absolute;
    background:#4f6da1;
    left:0;
    bottom:-2px;
}
.index_publish{
    width:288px;
    height:390px;
    border:1px solid #ebebeb;
    border-top:0;
}
.list_content{
    width:288px;
    height:374px;
}
.fst_level{
    width:268px;
    height:99px;
    padding:10px;
    position:relative;
}
.mark{
    width:21px;
    height:18px;
    background:url("../img/main/count.png") no-repeat 0 0;
    position:absolute;
    top:10px;
    left:10px;
}
.fst_level h3{
    height:18px;
    display:inline-block;
    padding-left:27px;
}
.fst_level h3 a{
    display:inline-block;
    font-weight:400;
    font-style:normal;
    width:228px;
    height:18px;
    font-size:14px;
    color:#396ec3;
}
.book_content{
    width:241px;
    height:71px;
    padding:10px 0 0 27px;
}
.book_content .cover{
    margin-right:15px;
    float:left;
}
.book_content img{
    width:50px;
}
.book_content .info{
    float:left;
    width:170px;
    height:71px;
}
.book_content .info .grey{
    width:166px;
    height:18px;
    color:#666;
    font-size:12px;

}
.stars span{
    background: url("../img/main/starlevel.png") no-repeat;
    width:10px;
    height:10px;
    float:left;
}
.block{
    color:#000;
    font-weight: 700;
    font-size:14px;
}
.mark_2{
    width:21px;
    height:18px;
    background:url("../img/main/count.png") no-repeat 0 -21px;
    position:absolute;
    top:10px;
    left:10px;
}
/*第一二本结束*/
/*第三本开始*/
.nopic{
    width:268px;
    height:18px;
    padding:8px 10px 8px 10px;
}
.nopic a{
    width:175px;
    height:18px;
    display:inline-block;
    line-height:18px;
    font-size:14px;
    color:#666;
}
.count3{
    width:21px;
    height:18px;
    font-size:12px;
    color:#666;
    display:inline-block;
}
.nopic .orange{
    width:66px;
    height:18px;
    font-size:12px;
    color:#ff4606;
    line-height:16px;
}
/*第三本结束*/

/*底部开始*/
.publish_footer{
    width:1200px;
    margin:0 auto;
    padding-top: 26px;
    border-top:1px solid #ebebeb;
}
.inner{
    width:1200px;
    height:166px;
}
.inner ul .focusOn{
    width:252px;
    height:156px;
    margin-left:92px;
    float:left;
}
.focusOn .left{
    width:45px;
    height:40px;
    padding-right:10px;
    float:left;
}
.focusOn .right{
    width:126px;
    height:156px;
    float:left;
}
.right .title{
    width:126px;
    height:34px;
    color:#000;
    font-size: 16px;
    line-height:34px;
}
.right .desc{
    height:20px;
    line-height:20px;
    color:#666;
    width:126px;
    font-size:14px;
}
.right .subtitle{
    height:34px;
    line-height:34px;
    font-size:12px;
    color:#666;
}
.shareLink li{
    height:34px;
    line-height:34px;
}
#footWeiBoShare a{
    display:inline-block;
    width:126px;
    height:34px;
    color:#666;
    line-height:34px;
}
.weibo{
    display:inline-block;
    width:34px;
    height:34px;
    margin-right:10px;
    background: url("../img/main/common.png") no-repeat 0 -336px;
}
.weibo:hover{
    background: url("../img/main/common.png") no-repeat 0 -425px;
}
.shareLink li span{
    float:right;
    display:inline-block;
    padding-right:25px;
    color:#666;
    font-size: 12px;
}
.weixin{
    display:inline-block;
    width:34px;
    height:34px;
    margin-right:10px;
    background: url("../img/main/common.png") no-repeat 0 -381px;
}
.weixin:hover{
    background: url("../img/main/common.png") no-repeat 0 -468px;
}
#footWeixinShare{
    position:relative;
}
#footWeixinShare img{
    position:absolute;
    top:-44px;
    left:84px;
    display:none;
}
#footWeixinShare:hover .pWeixin{
    display:block;
}
.joinUs{
    width:126px;
    height:31px;
    background: url("../img/main/footer_font.png")no-repeat 0px 5px;
    margin-top:15px;
}
.contactUs{
    width:126px;
    height:31px;
    background: url("../img/main/footer_font.png")no-repeat 0px -24px;
    margin-top:15px;
}
/*最后的一部分footer*/
.footer{
    width:1200px;
    height:78px;
    padding:15px 0 60px 0;
    margin:0 auto;
    border-top:1px solid #ebebeb;

}
.footer p{
    text-align: center;
    color:#666;
    height:26px;
    line-height:26px;
    font-size:12px;
}
/*最后的一部分footer结束*/

/*hover_layer开始*/
.hover_layer{
    position:absolute;
    left:191px;
    width: 325px;
    padding: 20px 0 20px 25px;
    border: 2px solid #687280;
    z-index:3;
    display:none;
    background: #fff;
}




.index_li{
    float: left;
    height: 84px;
    padding: 0 20px 10px 5px;
    overflow: hidden;
}
.index_li>p{
    font-size: 11px;
}
.index_li>p>a{
    color:#333333;
}
.cover{
    height: 60px;
    width: 52px;
    position: relative;
}
.one{
    width: 42px;
    height: 60px;
    box-shadow: 0 0 4px #c8c8c8;
    position: absolute;
    left: 0;
    z-index: 2;
}
.two{
    width: 35px;
    height: 50px;
    box-shadow: 0 0 4px #c8c8c8;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/*hover_layer结束*/

/*管理员登录*/
.admin{
    width:80px;
    height:21px;
    text-decoration: none;
    color:red;
    display:block;
    margin:0 auto;
}